
<!DOCTYPE html>
<html ng-app="Chat" ng-controller="MainCtrl">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>WhatsApp</title>
    <link href="./img/fav.png" rel="shortcut icon" type="image/x-icon">
    <meta name="theme-color" content="#665aac">
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0" name="viewport">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&display=swap" rel="stylesheet">
    <link href="./css/main.css" rel="stylesheet">
</head>
<body ng-cloak>

<div id="bar">
    <div class="container">
        <div class="header-left">
            <div class="photo pull-left">
                <img src="./img/p1.jpg" alt="" class="img-responsive">
            </div>
            <div class="desc">
                <div class="name">{{person}}</div>
                <div class="online">online</div>
            </div>
        </div>
        <div class="header-right">
            <div>
                <a href="tel:132132"><img src="./img/video-camera.svg" alt=""></a>
                <a href="tel:132123"><img src="./img/call-answer.svg" alt=""></a>
                <a href="tel:123123"><img src="./img/menu.svg" alt=""></a>
            </div>
        </div>
    </div>
</div>
<div id="body">
    <div class="container body-container" id="body-container">
        <div class="todayDay">
            <p>
                Today
            </p>
        </div>
        <div class="list">
            <div class="message-container" ng-repeat="d in dialog">
                <div class="chat2 chats animated fadeIn faster"
                     ng-class="{'user pull-right': d.who === 'user', 'photo': d.type === 'photo', 'user-photo': d.who === 'manager' && $index === 0}">
                    <div class="img" ng-show="d.type === 'photo'">
                        <img ng-if="d.type === 'photo'" ng-src="{{d.text}}" alt="" class="img-responsive">
                    </div>
                    <p ng-if="!d.type" ng-bind-html="d.text"></p>
                </div>
                <div class="chat2 chats call-button" ng-show="questionBox && $index === 1"
                     ng-class="{'call-button': callButton}">
                    <a class="btn " href="https://shrt.club/wpsho">View My Profile!</a>
                </div>
            </div>
            <div class="user-typing" ng-show="shodDialog">
                <p ng-bind-html="person + ' is typing...'"></p>
            </div>

        </div>
    </div>
    <div class="footer" id="footer" resize>
        <p>
            
            © 2020. IBRO <br>
            
        </p>
    </div>
</div>
<!--<div id="mo" class="alert" ng-class="{'ios': platform === 'ios', 'android': platform === 'android', 'active animated fadeIn faster': active}">-->
<!--    <div class="inner">-->
<!--        <div class="alert__title">Ai împlinit 18 ANI?</div>-->
<!--        <div class="text" id="formContent"></div>-->
<!--    </div>-->
<!--    <div class="button-container" id="button-container">-->
<!--        <a class="button" href="#" ng-click="checkAge($event)">Da</a>-->
<!--        <a class="button" href="#" onclick="window.location.href = 'https://www.google.com/'">Nu</a>-->
<!--    </div>-->
<!--</div>-->
<!--<div class="overlay" ng-class="{'active': overlay}"></div>-->
<script type="text/javascript" src="./js/main.js"></script>
</body>
</html>